*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(236,231,231);
}
header{
	width: 100%;
	background-color: rgb(236,231,231);
}
header nav{
	width: 1000px;
	height: 80px;
	background-color: rgb(236,231,231);
	font-family: 'Adamina', serif;
	margin: auto;
}
.navigation{
	padding: 15px 0;
	text-align: center;
}
.left{
	float: left;
	width: 50%;
	color: rgb(81,81,81);
}
.right{
	float: right;
	width: 50%;
}
header nav ul{
	padding-top: 25px;
}
header nav ul li{
	list-style: none;
	display: inline-block;

}
header nav ul li a{
	text-decoration: none;
	padding: 0 20px;
	color: rgb(118,109,109);
}
.wrapper{
	width: 1000px;
	height: 420px;
	background-color: rgb(236,231,231);
	margin: 40px auto;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.profile{
	width: 500px;
	height: 400px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.circles{
	margin: 40px 0;
	width: 500px;
	height: auto;
}
.circles ul{
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
}
.circles ul li{
	list-style: none;
	padding: 0 20px;
}


.texts{
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Roboto', sans-serif;
}

#footer{
	position: relative;
	margin-top: -100px;
	clear: both;
}
footer nav{
	width: 1000px;
	height: 65px;
	background-color: rgb(234,58,91);
	font-family: 'Adamina', serif;
	padding: 10px 0;
	margin: 10px auto;
}
footer nav ul{
	padding-top: 15px;
	display: flex;
	justify-content: center;
}
footer nav ul li{
	list-style: none;
	font-size: 12px;
	text-decoration: none;
	padding: 0 30px;
	color: #e3e3e3;
}
.list_content{
	display: inline-block;
}
.icons{
	width: 20%;
}
.list_discription{
	padding-left: 10px;
}
