*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(236,231,231);
}
header{
	width: 100%;
	background-color: rgb(236,231,231);
}
nav{
	width: 1000px;
	height: 80px;
	background-color: rgb(236,231,231);
	font-family: 'Adamina', serif;
	margin: auto;
}
.navigation{
	padding: 10px 0;
	text-align: center;
}
.left{
	float: left;
	width: 50%;
	color: rgb(81,81,81);
}
.right{
	float: right;
	width: 50%;
}
ul{
	padding-top: 25px;
}
ul li{
	list-style: none;
	display: inline-block;

}
ul li a{
	text-decoration: none;
	padding: 0 20px;
	color: rgb(118,109,109);
}
.wrapper{
	width: 1000px;
	height: 800px;
	background-color: rgb(236,231,231);
	margin: 70px auto;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.profile{
	width: 500px;
	height: 600px;
	margin-top: 80px;
}
.circles{
	margin: 30px 10px;
	width: 500px;
	height: 160px;
	display: block;
}
.circles ul{
	padding: 0;
	height: 100%;
}
.circles ul li{
	height: 100%;
}
.circles ul li a{
	width: 150px;
	height: 160px;
}
.circles ul li a #myResume{
	width: 150px;
	height: 160px;
	padding-top: 100px;
	background-image: url(../img/demo3_MyResume.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
#myWorks{
	background-image: url(../img/demo3_MyWorks.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
#mySkills{
	background-image: url(../img/demo3_MySkills.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}